/__pycache__/
/node_modules/
/versionfile.txt/
file_extentions/
hall.ico
#.vscode
CTK_test.py
__pycache__
utility_dir\__pycache__
\jsons
new_mass_gql/jsons - Shortcut.lnk
new_mass_gql/jsons_symlink
debugging
/media/hidden media